@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: brands;
    src: url(../fonts/awesome/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    color: #606060;
    line-height: 1.25;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    background-color: #e3e3e3;
    margin: 0;
    font-size: 1rem;
}


/* component */

.main-header {
    font-family: 'Montserrat';
    display: grid;
    width: 100%;
    height: 66px;
    background-color: #ffaf28;
    position: fixed;
    top: 0;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
}

.logo {
    width: 134px;
}

.logo-place {
    margin: 20px;
}

.main-header .main-nav>* {
    justify-content: space-between;
}

.nav-item {
    font-family: 'Montserrat';
}

.main-nav .nav-item {
    width: 95px;
    font-size: 1rem;
    font-family: montserrat-bold
}

.main-nav li {
    text-align: center;
}

.image-gallery {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.search-nav {
    padding: 100px;
}

.search-input {
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #242424;
}

.icon-search {
    width: 20%;
    margin-left: 20px;
}


/* footer */

.main-footer {
    height: 170px;
    background-color: #ff8e1e;
    flex-direction: column;
}

.person-container {
    height: 548px;
    background-color: #ffffff;
}

.person-img {
    border-radius: 50%;
    width: 300px;
    margin: 50px;
}

.person-about {
    flex-direction: column;
    margin-inline-start: 10px;
}

.person-name {
    font-size: 1.375rem;
    font-family: 'Signika-Bold';
}


/* meme editor */

.meme-editor {
    display: none;
    justify-content: space-around;
    margin: 0 auto;
    padding: 70px;
    margin-top: 21px;
}

.canvas-container {
    width: 450px;
    height: 450px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.editor-container {
    background-color: #e3e3e3;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
}


/* buttons */

.meme-text-container {
    width: 100%;
}

.meme-text {
    border-radius: 12px;
    width: 80%;
    margin-block-start: 20px;
    font-family: montserrat;
    padding: 18px;
    border: none;
    color: black;
}

.editor-btn {
    width: 50%;
    flex-wrap: wrap;
}

.btn-img {
    width: 52px;
    height: 53px;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    cursor: pointer;
    margin-inline-end: 16px;
    margin-block-end: 15px;
}

.down.btn-img {
    padding: 0;
}

.line-one {
    padding: 20px;
    margin-right: 10px;
}


/* helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.display {
    display: block;
}

.display-flex {
    display: flex;
}

.hide {
    display: none;
}

.menu-btn {
    display: none;
}

#text-color {
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
}

.btn {
    border: none;
}

.person-story {
    font-size: 1.5rem;
}


/*mobile*/

@media (max-width: 425px) {
    .search-nav {
        flex-direction: column;
    }
    .meme-editor {
        flex-direction: column;
    }
    .main-footer {
        flex-direction: column;
    }
    body.open .main-screen {
        visibility: visible;
    }
    body.open .main-nav {
        transform: translateX(0);
        transition: transform .8s;
    }
    .menu-btn {
        display: block;
        outline: none;
        background-color: transparent;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 2rem;
    }
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background-color: #ff8e1e;
        width: 150px;
        transform: translateX(100%);
        line-height: 80px;
    }
    .main-screen {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0 0 0 / 30%);
        cursor: pointer;
        transition: opacity .8s;
    }
    .canvas-container {
        margin-left: 20px;
        width: 250px;
        height: 250px;
    }
    canvas {
        width: 250px;
        height: 250px;
    }
    .meme-editor {
        padding: 53px;
        margin-top: 20px;
    }
    .editor-btn {
        width: 100%;
    }
    .main-container {
        max-width: 600px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    .person-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .person-img {
        width: 230px;
    }
    .person-story {
        font-size: 1rem;
    }
}